body {
    background-color: white;
    margin: 0;
    font-family: "Bahnschrift Light";
}

#container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

.liste-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    padding: 10px;
    border: 1px solid black;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #7F7DFF;
    margin-top: 5px;
    border-radius: 25px;
}


.informations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}


.informations>.photo {
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
}


.contenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


