body {
    background-color : white;
    margin: 0;
    font-family: "Bahnschrift Light";
}

.info-etudiant {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    align-items: center;
    margin-top : 10px;
    background-color : blue;
}

.nom { 
    margin: 20px;
}

.mail { 
    margin: 20px;
}

.annee { 
    margin: 20px;
}

.photo {
    width : 10%;
    border-radius : 50%;
    margin : 20px;
}

.voir-profil {
    padding : 10px;
    margin : 20px;
    border-radius : 10px;
    background-color : rgb(112,110,241);
    color : white;
    border : solid 1px white;
}

.voir-profil > a { 
    text-decoration: none;
    color : white;
}

h1 { 
    text-align : center;
    margin-top : 10px;
}
